
.contenedor{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 1090px;
    height: 650px;
    position: relative;
    margin-left: 20px;
    /* color: black; */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    /* box-shadow: 5px 5px 5px 5px #635d5d70; */
  
  }
  .titulo2{
      padding-bottom: 10px;
      font-size: 17px;
      
  }
  .titulo3{
     margin-top: 40px;
     font-size: 17px;
}
  .titulo4{
    margin-top: 60px;
    font-size: 17px;
}
  .contenedor1{
    padding-top: 20px;
    column-count: 3; 
    column-gap: 45px;
  }
  .check1{
      margin-right: 10px;
  }
  .text2{
      margin-bottom: 90px;
  }
  .texto{
      margin-top: -6px;
      margin-bottom: 10px;
  }
 .boton2{
  width: 200px;
  margin-left: 400px;
  margin-bottom: 10px;
  margin-top: -36px;
  color: white;
}
 
 
 
 
 
 
 