#titulo{
    width: 100%;
    height: auto;
    position: relative;
}

p {
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra del contenido */
    color: black; /*color de la letra */
    font-size: 0.75rem; /* tamaño de la letra */
    font-weight: bold; /* HAcer la letra negrilla */ 
    padding: 20px;
}
h4 {
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra del contenido */
    color: black; /*color de la letra */
    font-weight: bold; /* HAcer la letra negrilla */ 
    padding: 20px;
}   
label,h5{
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra del contenido */
    color: black; /*color de la letra */
}

#info{
    position: relative; /* para asignar el valor de pocition absolute y ser el punto de referencia */
    top: 28rem;
    left: 0;
    background-color: #F0EEEE;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

#grafica{
    top: 40%;
    position: absolute;
    left: 0;
    padding-bottom: 2rem;
}
#responsabilidad{
    position: relative;
    top: 28rem;
    left: 10rem;
}
#productividad{
    position: relative;
    top: 26rem;
    left: 20rem;
}
#gestionCambio{
    position: relative;
    top: 24.5rem;
    left: 32rem;
}
#innovacion{
    position: relative;
    top: 22.5rem;
    left: 43rem;
}
#resiliencia{
    position: relative;
    top: 20.5rem;
    left: 54rem;
}
#confianza{
    position: relative;
    top: 18.5rem;
    left: 65rem;
}

#DigitalS{
    position: relative;
    top: 30rem;
    padding-bottom: 10%;
}

#concepto{
    position: relative;
    top: 30rem;
    padding-bottom: 10%;
    background-color: #F0EEEE;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

#botonesGrafica{
    width: 15rem;
    background-color: #F0EEEE;
    height: auto;
    border: #43EAFE 2px solid;
    border-radius: 10px;
}
