
#circulo {
    width: 30rem; /* para el ancho */
    height: 30rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #43EAFE; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: relative; /* para asignar el valor de pocition absolute y ser el punto de referencia*/
    top: 8rem;
}

#circulo1 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #28B10B; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: -8rem;
    left: -3rem;
}   

#circulo2 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #FF5D00; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: -9rem;
    left: 23rem;
} 

#circulo3 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #FE43CB; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: 2.5rem;
    left: 33rem;
} 

#circulo4 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #43EAFE; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: 17.6rem;
    left: 32rem;
    
} 

#circulo5 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background:#28B10B; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: 28rem;
    left: 21rem;
}

#circulo6 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #FF5D00; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: 32rem;
    left: 6.5rem;
}

#circulo7 {
    width: 15rem; /* para el ancho */
    height: 15rem; /* para lo alto del div */
    border-radius: 50%; /* para el radio */

    background: #FE43CB; 
    display: flex; /* para el texto se ajuste a el circulo*/
    text-align: center; /* para ajustar el texto */
    justify-content: center; /* para el texto se ajuste a el circulo */
    align-items: center; /* para centrar en contenido */
    position: absolute; /* dejar de manera fija respecto  un elemento de referencia*/ 
    top: 25rem;
    left:-7rem;
}

p {
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra del contenido */
    color: black; /*color de la letra */
    font-size: 0.75rem; /* tamaño de la letra */
    font-weight: bold; /* HAcer la letra negrilla */ 
    padding: 20px;
}   

#cajaTexto{
    background-color: #DEDEDE;
    border: black 2px solid;
    width: 18.5rem;
    height: 50rem;
    position: relative;
    float: right;
    top: 0%;
}